.menu
  background-position-x 65%

  &__book
    &__info
      padding 5% 5% 10% 0
      &__list
        &__item
          font-size 110%

  &__btn
    font-size 100%

    height 6%

    &__left
      top 85%

    &__right
      top 85%

.glyphicon
  margin-left 17%
  margin-top  10%