.menu
  background-position-x 60%
  background-position-y 60%
  background-repeat no-repeat

  &__title
    &__text
      font-size 300%

      &:before
        left 20%

        width 20%

      &:after
        right 20%

        width 20%

  &__info
    &__text
      font-size 200%

  &__book
    &__info
      &__list
        &__item
          font-size 120%

          &:after
            width 55%

.menu__btn
  font-size 100%

  height 6.5%