.header
  margin-top 5%

  padding 0

  &__img
    &__file
      margin 0 auto



  &__title
    margin-top 10%

    text-align center

    &__link
      &__text
        font-size 160%

        color grey

        &:after
          border-bottom solid 1px grey

          content ''

          margin-top  2%
          margin-left 2%

          position absolute

          width 25%

        &:before
          content ''
          border-bottom solid 1px grey

          margin-top    2%
          margin-left -27%

          position absolute

          width 25%

        &:hover
          text-decoration none

  &__bg
    position absolute

    max-width 80%
  &__contact
    font-size 120%

    margin-top 10%

    text-align center

    &__btn__number
      color grey

      margin-left 2%

      &:hover
        color green

        text-decoration none

        transition .5s

    &:after
      content ''

      border-bottom solid grey 1px

      position absolute

      left     30%
      bottom  -10%

      width 40%

  &__nav
    margin-top 5%

    width 100%

    &__black-box
      background-color black

      height 75px

      &:after
        border-style solid
        border-width 13px 0 13px 13px
        border-color transparent transparent transparent #000

        content ''

        position absolute

        top  50%
        left 100%

        transform translateY(-50%)

.nav-menu
  background-color transparent

  position absolute

  width 100%

  z-index 999

  &__main
    list-style-type none


    &__item
      float left

      font-size 180%

      padding 1% 5% 2% 5%

      &__link
        color black

        display block

        &:hover
          text-decoration none


  &__sub
    background-color #76c212

    display none

    position absolute

    list-style-type none

    left 5%
    top 200%

    padding 3%


    &__item
      margin-top 5%

      padding 2% 1%

      width 150%

      &__link
        color white

        &:hover
          text-decoration none

  &__last-menu
    display none

    background-color #252525

    list-style-type none

    position absolute

    padding 30%

    left 100%
    top   50%

    &__item
      padding 5%

      &__link
        color white

        &:hover
          color yellow

          text-decoration none


.fa-align-justify,
.fa-arrow-down,
.fa-chevron-down
  display none


@media screen and (max-width: 1360px)
  @import "media/header-media-1360px.styl"

@media screen and (max-width: 992px)
  @import "media/header-media-992px.styl"

@media screen and (max-width: 768px)
  @import "media/header-media-768px.styl"

@media screen and (max-width: 767px)
  @import "media/header-media-767px.styl"

@media screen and (max-width: 359px)
  @import "media/header-media-359px.styl"