.event
  background-position-x center

  &__sale
    &__link
      padding 2% 0

      width 100%



      &:before
        background-image    url("../components/img/icon-arrow-bottom.png")
        background-repeat   no-repeat
        background-position left 45% bottom 40%

        left 47%
        top 90%

        width 7%


  &__offer
    &__title
      font-size 240%

      margin-left 10%

    &__text
      padding-bottom 7%

      margin-left 10%

      font-size 140%
