.event
  background-position right 5%

  margin-top 15%

  &__sale
    &__link
      font-size 150%

      &__price
        font-size 200%

  &__offer

    &__title
      font-size 350%

    &__text
      font-size 200%