extends head/head
block title
    title Мой проект
block content

    // wrap

    .main
        include header/header
        include aboutUs/aboutUs
        include event/event
        include menu/menu
        include service/service
        include footer/footer
block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src='../components/header/header.js')
    script(src='../components/event/event.js')
    script(src='../components/service/service.js')
    script(src='../components/footer/footer.js')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7mk8nPvdDmRvwlyvxAXNJSZY88oD4T30&callback=initMap")

