.main
  background-color white

  position relative

  font-family 'Vidaloka', serif

  max-width 1920px

  margin 0 auto


.clear
  clear both


.col-sm-3
  margin 0
  padding 0

.container-fluid
  margin-left  0
  margin-rigth  0
  padding-left 0
  padding-rigth 0

.border
  border solid 1px black
  height 200px

a:hover
  text-decoration none

@import "header/header.styl"
@import "aboutUs/aboutUs.styl"
@import "event/event.styl"
@import "menu/menu.styl"
@import "service/service.styl"
@import "footer/footer.styl"