.header

  &__title
    &__link
      &__text
        font-size 100%

  &__contact
    font-size 100%




.nav-menu

  &__main

    &__item

      font-size 150%

      padding-top  2%
      padding-left 3%