.header

  &__bg
    height  1000px
    width    100%

  &__img

    &__file
      margin-left 26%
      margin-top -11%
      max-width 40%

  &__nav
    &__black-box
      height 50px

  &__contact
    height 50px
    width 100%


#contact
  margin-top -6%

.nav-menu
  display none

  width 80%
  margin-left -8%

  &__sub
    width 111%

  &__last
    width 103%