.preservice
  &__circle
    top -7%

.service
  &__cook
    display none

  &__offer
    font-size 150%

    margin-top 20%

    &__dishes
      &__img
        margin-top 5%

      &__more
        left 39.5%
        top  15%

        height 150px
        width   21%

