.preservice

  &__circle
    height 250px

    top -15%

    &__title
      font-size 300%

.service
  &__cook
    margin-top 10%

  &__offer
    font-size 120%

    margin-top 7%

    &__dishes
      &__img
        margin-top 20%

      &__more
        top  29%
        left 26%

        height 40%
        width  48%

        &__text
          font-size 150%

          margin-top 30%
  &__spaghetti
    margin-top 12%
