.preservice

  &__circle
    height 220px

    &__title
      font-size 180%

.service

  &__offer
    font-size 120%

    margin-top 5%

    &__dishes
      &__more
        left 18%

        width 64%