.preservice
  &__circle
    top -4%

    width 70%

.service
  &__offer
    font-size 120%

    margin-top 60%

    &__dishes
      &__more
        left 35%
        top  20%

        height 100px
        width 30%