.preservice

  &__circle
    top  -15%
    left 15%

    height 280px
    width   30%

    &__title
      font-size 270%

.service
  &__cook
    margin-top 20%

  &__offer
    font-size 140%

    margin-top 10%

    &__dishes
      &__img
        margin-top 10%

      &__more
        top  17%
        left 20%

        height 55%
        width  60%

        &__text
          font-size 170%

  &__spaghetti
    display none