.about-us
  &__sales
    &__title
      font-size 90%

      margin 0 auto

      width 90%

      &__text
        font-size 200%

        &:after
          left 42%


    &__gnacchi
      margin 2%
      margin-top 0

      padding  0 7% 15% 7%

    &__alfredo
      margin 2%
      margin-top 40%

      padding 18% 7%

    &__calamari
      margin 2%
      margin-top 40%

      padding 20% 7%

      &__title__text
        margin-left 0

  &__dishes
    &__title
       font-size 120%

    &__info
       font-size 100%


  &__right-side
      &__title
        &__text
          font-size 300%

      &__info

        &__text
          font-size 100%

          text-align justify

      &__delivery
        &__title
          font-size 100%

          text-align start

        &__number
          &__text
            font-size 200%

            text-align start

      &__info

          &__link
            float left

.wrap-sale
  &__after
    width 32%

    &:before
      height 100px

    &__text
      font-size 150%

      margin-left 23%
      margin-top  15%

    &-gnacchi
      height 52px

      margin-left 35%

    &-alfredo
      margin-top  24.5%
      margin-left   35%

      height 52px
      width  32%

    &-calamari
      height 52px

      margin-top -5%
      margin-left 49%

  &__before

    &__text
      font-size 120%

      margin-left 25%

    &:before
      bottom 30%

      height 100px


    &-gnacchi
      margin-left 33%


    &-alfredo
      margin-left 26%
      margin-top  -4%

      width 32%

    &-calamari
      margin-top  -8%
      margin-left 69%

      width 32%
