.about-us
  &__sales
    &__title
      margin 0 auto

      width 80%

      &__text

        font-size 250%

        &:after
          width 15%


    &__alfredo
      padding 10%

      margin-top 20%
      margin-left 0
      width 100%

      &__title
        &__text
          margin-left 28%

    &__calamari
      padding 10%

      margin-top 20%
      margin-left 0

      width 100%

      &__title__text
        margin-left 10%

  &__dishes
    &__title
      margin-left 10%

      text-align center

    &__info
      text-align center


  &__right-side
    &__box
      position static

    &__title
      &__text
        text-align center
    &__info
      width 100%
      &__text
        text-align center

    &__delivery
      margin 10% auto

      text-align center

    &__info
      &__link
        float right



.wrap-sale
  &__after
    width 22%

    &-gnacchi
      margin-top  20%
      margin-left 37%

    &-alfredo
      margin-top 10%
      margin-left 37%


      transform rotate(0deg)

    &-calamari
      position absolute

      top 75.7%

      left -14%

  &__before

    &-gnacchi
      margin-left 28%

      width 37%

    &-alfredo
      margin-top   6.5%
      margin-left 28.5%

      transform rotate(0deg)

      width 22%

    &-calamari
      position absolute
      top 81%
      left -34%

      width 22%
