.about-us
  &__sales
    &__title
      &__text
        font-size 190%

  &__right-side
    &__delivery
      border dashed 2px grey

      margin-right 35%
.wrap-sale
  &__after
    width 25%

    &-alfredo
      margin-left -3.5%

    &-calamari
      width 48%

  &__before
    width 42%

    &-alfredo
      top 48.7%
      left 8.6%

      width 25%

    &-calamari
      width 24%