.about-us
  &__sales
    &__title
      &__text
        font-size 240%

  &__dishes
    &__title
      font-size 130%

    &__info
      font-size 120%

  &__right-side
    padding 2% 7% 7% 10%
    &__title
      &__text
        font-size 340%

    &__info
      &__text
        font-size 120%

    &__delivery
      padding 15% 10%

      &__title
        &__text
          font-size 350%

      &__number
        &__text
          font-size 260%

      &__link
        &__text
          font-size 150%

.wrap-sale
  &__after
    height 72px
    width  26%

    &__text
      font-size 200%

      margin-left 25%
      margin-top  15%

    &-alfredo
      margin-left -4%

    &-calamari
      width 52%


  &__before
    height 72px
    width  43.5%

    &__text
      font-size 150%

      margin-left 30%

    &-alfredo
      left 8.3%

      width 26%

    &-calamari
      width 26%