.about-us
  margin-top 15%

  &__sales
    &__title
      &__text
        font-size 250%

  &__dishes
    &__title
      font-size 180%

    &__info
      font-size 120%

  &__right-side
    position relative

    margin-top 10%
    &__title
      &__text
        font-size 400%
    &__info
      width 40%
      &__text
        font-size 120%

    &__box
      position absolute

      top   8%
      left 60%

      &__info
        width 80%

    &__delivery
      padding 10%
      margin-right 45%



.wrap-sale
  &__after
    height 75px
    width  20%

    &__text
      font-size 200%

      margin-left 25%
      margin-top  15%

    &-alfredo
      margin-left .5%

    &-calamari
      width 42%


  &__before
    height 75px
    width  33.5%

    &__text
      font-size 150%

      margin-left 30%

    &-alfredo
      top 53.5%
      left 10%

      width 20%

    &-calamari
      width 21%