.footer
  &__contacts
    &__list
      &__item
        &__link
          height   25px
          width   200%

          & i
            margin-top 0

    &__address
      font-size 120%

      margin-left 17%

  &__form
    padding 20% 10%

    &__box
      &__btn
        font-size 120%