.footer
  &__map
    &__link
      height 300px

  &__contacts
    padding 10% 0

    &__list
      &__item
        margin-left 4%

    &__address
      margin-left 9%
      margin-top  5%